.programElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 100px;
  height: auto;
  margin-bottom: 5px;
}

.iconWrapper {
  width: 10%;
  margin-right: 30px;
}

.programTitle {
  margin-bottom: 5px;
}

.descriptionProgram {
  color: grey;
  margin: 0;
  margin-block: 0;
}

@media (max-width: 500px) {
  .programElement {
    margin-bottom: 10px;
  }
  .iconWrapper {
    width: 50px;
    margin-right: 10px;
  }
  .programTitle {
    margin-top: 0;
  }
  .descriptionProgram {
    margin: 0;
    margin-block: 0;
  }
  .textContent{
    align-self: start;
  }
}