@font-face {
  font-family: "SF-Regular";
  src: local("SF"),
   url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
  }

@font-face {
  font-family: "SF-Heavy";
  src: local("SF"),
   url("./fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  }

  @font-face {
    font-family: "SF-Bold";
    src: local("SF"),
     url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
    }

body {
  margin: 0;
  font-family: "SF-Regular";
  color: #22222C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}